{% extends "base.html" %}
{% block content %}
<div class="boxer">
<table width="100%"><tr><td>
<h1> {{instance.title}} </h1></td>
{% if exportFiles %}<td align="right">
<form action="{{exportFiles}}" method="POST"><input value="Export" type="submit"> Files to CMIP5<form></td>{% endif %}
</tr></table>
</div>
<div class="boxer">
    {% if objects|length_is:0 %}
    <p>No {{instance.title|lower}}s loaded at present</p>
    {% else %} 
    <table class="linklike" width="100%">
    <tr><th>Name</th><th></th></tr>
    {% for r in objects %}
    <tr class="{% cycle 'row1' 'row2' %}">
    {% for d in r %}
        <td width="17%"><a href="{{d.editURL}}">{{d}}</td><td width="16%">
          {% if d.delURL %}
          <form action="{{d.delURL}}" method="POST">(<input  type="submit" value="delete">)</form>
          {% endif %}
        </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
<div class="boxer">
<div class="boxer2">
<h4> Add new {{instance.title|lower}}: </h4>
<div id="data">
    <form action="{{editURL}}" method="POST">
       {% include snippet_template %}
    </form>
</div>
</div>
{% if target %}
<center><a id="returnBut" href="{{target.url}}">Return to {{target.type}} for {{target.instance}}</a></center>
<script type="text/javascript"> 
        var oLinkButton1 = new YAHOO.widget.Button("returnBut"); 
</script>
{% endif %}
</div>
{% endblock%}