{% extends "base.html" %}
{% block content %}

<div class="boxer">
<h1> Summary: {{centre.title}} </h1>
</div>
<div class="boxer">
<h4> Introduction </h4>

<p>Each CMIP5 modelling centre is running <em> Simulations </em> which run <em> Models </em> on <em> Platforms </em>.</p>

<p>The <em> Models </em> are made up of <em>Components</em></p>

<p>The <em> Simulations </em> conform to the <em>NumericalRequirements</em> of <em> Experments</em> via what we call <em>Conformances</em> which consist of either specific code modifications or the use of specific boundary or initial condition <em>Files</em>s.</p>

<p>The purpose of this questionnaire is to glean information about the entities denoted <em>thus</em> and/or their relationships.</p>

<p> We expect to see each centre enter at least one model, one platform, and then multiple simulations, each of which will involve entering descriptions of how they conform to the numerical requirements via conformances. It is not possible to start entering simulation information until at least one model and one platform have been created. </p>
</p>

</div>

<div class="boxer">

<h4> </h4>
<table>
<tr><td width="50%">
    <div  class="boxer">
    <table width="100%">
        <thead>
            <tr><th colspan="3"> Models associated with {{centre.abbrev}}</th></tr>
            <tr><th colspan="2"></th> <th width=30%> Status </th>
        </thead>
        <tbody> 
        {% for m in models %}
        <tr class="{% cycle 'row2' 'row1'%}"><td width="50%">{{m.abbrev}}</td>
        <td> <a id="edModButton{{forloop.counter}}" href="{{m.url}}">Edit</a>
        <script type="text/javascript">
            var oLinkButtonEdMod{{forloop.counter}} = new YAHOO.widget.Button("edModButton{{forloop.counter}}");
        </script>    
        </td><td>
        <p class="cmip5q">placeholder</p>
        </td></tr>
        {% endfor %} 
        <tr class="row3"><td><a id="newModButton" href="{{newmod}}">Add a new model</a></td><td colspan="2">Note that it can take some time to create a new model from the CMIP5 template ... be patient!</td></tr>
        <tbody>
    </table>
   
    <script type="text/javascript">
        var newmodButton = new YAHOO.widget.Button("newModButton");
    </script>
    <p class="guidance"> The status column provides an indicator of how much of the model description has
    been completed. <!--CopyAsNew should be used to describe variants of already described models.--></p>
    </div>
    <div class="boxer">
    <table width="100%">
        <thead>
        <tr><th colspan="2"> Computing platforms associated with {{centre.abbrev}}</td></tr>
        </thead>
        <tbody>
        {% for m in platforms %}
        <tr class="{% cycle 'row2' 'row1'%}" ><td width="50%">{{m.abbrev}}</td>
        <td><a id="edPlatButton{{forloop.counter}}" href="{{m.url}}">edit</a></td></tr>
        <script type="text/javascript">
            var oLinkButtonEdPlat{{forloop.counter}} = new YAHOO.widget.Button("edPlatButton{{forloop.counter}}");
        </script>
        {% endfor %}
        </tbody>
        <tr class="row3"><td colspan="2"><a id="newPlatButton" href="{{newplat}}">Add a new Platform</a></td></tr>
    </table>
    <script type="text/javascript">
        var newplatButton = new YAHOO.widget.Button("newPlatButton"); 
    </script>
    </div>
</td>
<td>
    <div class="boxer">
    <table width="100%">
        <thead>
        <tr><th>Simulations associated with {{centre.abbrev}}</th><tr>
        </thead>
        <tbody>
        {% for sgroup in sims %}
        <tr class="{% cycle 'row2' 'row1'%}"><td>{% for s in sgroup %} 
           <a id="edSimButton{{s.id}}" href="{{s.url}}">{{s.abbrev}}</a>
           <script type="text/javascript">
                var oLinkEdSimBut{{forloop.counter}} = new YAHOO.widget.Button("edSimButton{{s.id}}");
           </script>
           {% endfor %}
        {% endfor %}
        <tr class="row3"><td><a id="viewSimBut" href="{{viewsimurl}}"> Manage Simulations (add new)</a></td></tr>
        </tbody>
        <script type="text/javascript">
            var oViewSimBut = new YAHOO.widget.Button("viewSimBut");
        </script>
    </table>
    </div>
    <p></p>
    <div class="boxer">
        <table width="100%">
            <thead><tr><th>Files and References</th></tr></thead>
            <tbody>
                <tr class="row2"><td> There are {{refs|length }} references associated with {{centre}} </td></tr>
                <tr class="row1"><td> There are {{files|length }} files associated with {{centre}} </td></tr>
            </tbody>
        </table> 
    </div>
</td>        
</tr>
</tbody>
</table>
</div> 
{% endblock %}