{% extends "base.html" %}
{% block content %}

<div class="boxer">
<h1> Summary: {{centre.title}} </h1>
</div>
<div class="boxer">
<h4> Introduction </h4>

<p>Each CMIP5 modelling centre is running <em> Simulations </em> which run <em> Models </em> on <em> Platforms </em>.</p>

<p>The <em> Models </em> are made up of <em>Components</em></p>

<p>The <em> Simulations </em> conform to the <em>NumericalRequirements</em> of <em> Experments</em> via what we call <em>Conformances</em> which consist of either specific code modifications or the use of specific boundary or initial condition <em>DataObject</em>s</p>

<p>The purpose of this questionnaire is to glean information about the entities denoted <em>thus</em> and/or their relationships.</p>

<p> We expect to see each centre enter at least one model, one platform, and then multiple simulations, each of which will involve entering descriptions of how they conform to the numerical requirements via conformances. It is not possible to start entering simulation information until at least a named template exists for at least one model and one platform </p>
</p>

</div>

<div class="boxer">

<h4> </h4>
<table>
<tr><td width="50%">
    <div class="backgrey">
    <table width="100%">
        <thead>
            <tr><th colspan="3"> Models associated with {{centre.abbrev}}</th></tr>
            <tr><th colspan="2"></th> <th width=30%> Status </th>
        </thead>
        <tbody> 
        {% for m in models %}
        <tr><td width="50%">{{m.abbrev}}</td>
        <td> <a id="edModButton{{forloop.counter}}" href="{{m.url}}">Edit</a>
        <script type="text/javascript">
            var oLinkButtonEdMod{{forloop.counter}} = new YAHOO.widget.Button("edModButton{{forloop.counter}}");
        </script>    
        </td><td>
        <p class="cmip5q">placeholder</p>
        </td></tr>
        {% endfor %} 
        <tr><td><a id="newModButton" href="{{newmod}}">Add a new model (template)</a></td><td colspan="2">Note that it can take some time to create a new model template ... be patient!</td></tr>
        <tbody>
    </table>
    </div>
    <script type="text/javascript">
        var newmodButton = new YAHOO.widget.Button("newModButton");
    </script>
    <p class="guidance"> The status column provides an indicator of how much of the model description has
    been completed. <!--CopyAsNew should be used to describe variants of already described models.--></p>
    <div class="backgrey">
    <table width="100%">
        <thead>
        <tr><th colspan="2"> Computing platforms associated with {{centre.abbrev}}</td></tr>
        </thead>
        <tbody>
        {% for m in platforms %}
        <tr><td width="50%">{{m.abbrev}}</td>
        <td><a id="edPlatButton{{forloop.counter}}" href="{{m.url}}">edit</a></td></tr>
        <script type="text/javascript">
            var oLinkButtonEdPlat{{forloop.counter}} = new YAHOO.widget.Button("edPlatButton{{forloop.counter}}");
        </script>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a id="newPlatButton" href="{{newplat}}">Add a new Platform</a>
    <script type="text/javascript">
        var newplatButton = new YAHOO.widget.Button("newPlatButton"); 
    </script>
</td>
<td>
    <div class="backgrey">
    <table width="100%">
        <thead>
        <tr><th>Simulations associated with {{centre.abbrev}}</th><tr>
        </thead>
        <tbody>
        <tr><td>{% for s in sims %} 
           <a id="edSimButton{{forloop.counter}}" href="{{s.url}}">{{s.abbrev}}</a>
           <script type="text/javascript">
                var oLinkEdSimBut{{forloop.counter}} = new YAHOO.widget.Button("edSimButton{{forloop.counter}}");
           </script>
           {% endfor %}
        <tr><td><a id="viewSimBut" href="{{viewsimurl}}"> Simulation Master Page</a></td></tr>
        </tbody>
        <script type="text/javascript">
            var oViewSimBut = new YAHOO.widget.Button("viewSimBut");
        </script>
    </table>
    <p></p>
    <table width="100%">
       <thead>
        <tr><th>Other</th><tr>
        </thead>
        <tbody>
        <tr><td><p class="cmip5q"> Number of dataobjects and conformances listed here</p> </td></tr>
        </tbody>
    </table>  
</td>        
</tr>
</tbody>
</table>

</div>

           
{% endblock %}