<tr class="{% cycle 'row1' 'row2' %}">
    <td>From: {{ff.target.errors}}{{ff.target}} &nbsp;  {% if forloop.last %} {% else %} <br/>(delete: {{ff.DELETE.errors}}{{ff.DELETE}}){% endif %}</td>
    <td>
        <table>
        <tr><td> 
        Spatial Regridding: {{ff.spatialRegrid.errors}} {{ff.spatialRegrid}}
        </td></tr><tr><td>
Temporal Transformation: {{ff.temporalTransform.errors}} {{ff.temporalTransform}}
        </td></tr>
        </table>
    </td>
</tr>
{% for hid in ff.hidden_fields %} {{hid}}{% endfor %}