<tr class="{% cycle 'row1' 'row2' %}">
    <td> {% ifequal ff.instance.ctype 'internal' %}
    From: {{ff.target.errors}}{{ff.target}} &nbsp; {% else %}
    <table> 
    <tr><td>File: {{ff.targetFile.errors}}{{ff.targetFile}}</td></tr>
    <tr><td {% if forloop.first %}id="tt{{f.cf.instance.id}}"{% endif %} >Variable: {{ff.target.errors}}{{ff.target}}</td></tr>
    </table>
    {% endifequal %}
    {% if forloop.last %} {% else %} <br/>(delete: {{ff.DELETE.errors}}{{ff.DELETE}}){% endif %}</td>
    <td>
        <table>
        <tr><td> 
        Spatial Regridding: {{ff.spatialRegrid.errors}} {{ff.spatialRegrid}}
        </td></tr><tr><td>
Temporal Transformation: {{ff.temporalTransform.errors}} {{ff.temporalTransform}}
        </td></tr>
        </table>
    </td>
</tr>
{% for hid in ff.hidden_fields %} {{hid}}{% endfor %}
