
{% extends "base.html" %}
{% block content %} 

<div class="boxer"> <table>
<!--
<tr><td width="800px"><h1> Model Component {{c.abbrev }} </h1></td>
<td width="20%"> {% if isRealm %}<p><a id="inplinkbut" href="{{urls.inputs}}">Runtime Inputs</a></p>{% endif %}
<p><a id="reflinkbut" href="{{urls.refs}}"> References</a></p></td></tr>
</table>-->
<h1> Model Component {{c.abbrev }} </h1>
 </div>

<table class="navmain">
   <tr>
      <td valign="top" width="200px">
        <div class="boxer">
            <p class="red"> All buttons and links above and in this column navigate away from this page. Save your work first!</p></div>
            <div class="boxer"><h4> Available Models </h4><div id="treeDiv"> {{navtree|safe}}</div>
            <h4>Component {{c.abbrev}}</h4>
            <p class="guidance"> Please add details of any other relevant
            subcomponents of this component <p>
            <p><a id="sublinkbut" href="{{urls.subcomp}}"> Add Subcomponent</a></p>
        </div>
        <div class="boxer"> 
        <p> The button(s) in this box navigate to pages which further describe this <b>component</b>.</p>
           {% if isRealm %}<p><a id="inplinkbut" href="{{urls.inputs}}">Runtime Inputs</a></p>{% endif %}
            <p><a id="reflinkbut" href="{{urls.refs}}"> References</a></p>
        </div>
        <div class="boxer">
          <p> The buttons in this box navigate to pages for this <b>model</b>.</p>
          <p><a id="cuplinkbut" href="{{urls.coupling}}"> Coupling</a></p> 
          <!--<p><a id="outlinkbut" href="{{urls.outputs}}"> Outputs</a></p>-->
          <p><a id="viewlinkbut" href="{{urls.view}}">View</a></p>
          <p><a id="vallinkbut" href="{{urls.validate}}">Validate</a></p>
        </div>
      </td>
      <td valign="top" width="900px">
      
    <div class="boxer2">
    <form action="{{urls.form}}" method='post'>
        <div class="boxer">    
            <!--<h4> General Characteristics </h4>-->
            <table>
                <tr><td>Short Name:&nbsp;{{cform.abbrev.errors}}</td>
                <td>{{cform.abbrev}}&nbsp;(type:&nbsp;{{cform.scienceType}}{{cform.viewableScienceType}})
                </td></tr>
                {% if cform.showImplemented %}
                <tr><td>Implemented:&nbsp;{{cform.implemented.errors}}</td>
                <td>{{cform.implemented}} Untick the box if there is no representation of {{cform.instance.scienceType}} in your model.</td></tr>
                {% endif %}
                <tr><td>Long Name:&nbsp;{{cform.title.errors}}</td><td>{{cform.title}}</td></tr> 
                <tr><td>Contact Email:&nbsp;{{cform.email.errors}}</td><td>{{cform.email}}</td></tr>
                <tr><td>Contact Name:&nbsp;{{cform.contact.errors}}</td><td>{{cform.contact}}</td></tr>
            </table>
            <!-- Following is hidden -->
            {{cform.controlled}} 
        </div>
        {% if isRealm or isModel %}
        <div class="boxer">
        <h4>Geneology</h4>
        <p>Year First  Released:&nbsp;{{cform.yearReleased.errors}}{{cform.yearReleased}}</p>
        <p class="guidance"> The year first released applies to the version you are describing in this questionnaire. If this version is a substantial upgrade to a previous version, please provide the name of that previous version and some key scientific details of the upgrade.</p>
        <center>
        <p> Previous Version (name):&nbsp;{{cform.otherVersion.errors}}{{cform.otherVersion}} </p>
        <p class="guidance">Please tell us how this component has been improved from that previous version. </p>
        <p>{{cform.geneology.errors}}{{cform.geneology}}</p>
            </center>
        </div>
        {% endif %}
        <div class="boxer">
        <h4> Component Attributes </h4>
            <p> In this section enter parameters and attributes associated with this component.</p>
            <!--include 'component_attributes.html' -->
            {% include 'newcomponent_attributes.html' %}
        </div>
       
        <div class="boxer"> 
            <h4> Additional Information</h4>
            <center>
            <p class="guidance">If you have chosen "other" in an attribute description above, please 
            provide details of that "other" here.</p>
            <p> Please also provide any other information that will help the interpretation of simulations using this component. </p>
            <p>{{cform.description}}</p> 
            </center> 
        </div>
    <center><input id="updateButton1" type="submit" value="Save"/></center>
    </form>
    </div>
    
    <div class="boxer">
        {% if inps|length %}
        <h4> Inputs required by this component are: </h4>
        <table>
        <tr><th> Short Name </th><th> Description </th></tr>
        {% for i in inps %}
        <tr><td>{{i.abbrev}}</td><td>{{i.description}}</td><tr>
        {% endfor %} 
        </table>
        {% if isRealm %}
        <p class="guidance"> Update this list using the "Runtime Inputs" button </p>
        {% endif %}
        {% else %}
        {% if isRealm %}
        <p class="red"> Please identify key inputs to this component using the "Runtime Inputs" button </p>
        {% endif %}
        {% endif %}
    </div>
    
    
    <div class="boxer">
        <h4> References (associated with this component) </h4>
        {% if refs|length_is:0 %} 
        <p class="guidance"> No references are yet associated with this component. Use the reference button to add references</p>
        {% else %}
        <p class="guidance"> Update this list using the reference button.</p>
        <table width="100%" class="backgrey">
            <tr><th> Citation</th><th>Source</th></tr>
            {% for r in refs%}
            <tr><td >{{r.citation}}</td><td width="10%">(<a href="{{r.link}}">link</a>)</td></tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% if isModel %}
    <div class="boxer">
    <h4> Couplings </h4>
    <table>
    {% for bc in cset %}
    <tr class="{%cycle  'row2' 'row1'%}"><td>Boundary Condition:&nbsp;</td><td>{{bc.name}} uses {{bc.nic}} internal link(s) and {{bc.nec}} file link(s) by default.</tr>
    {% endfor %}
    </table>
    </div>
    {% endif %}
</td></tr></table>

<!-- button specific javascript follows -->
<script  type="text/javascript"> 
        var oLinkButton1 = new YAHOO.widget.Button("viewlinkbut"); 
        var oLinkButton2 = new YAHOO.widget.Button("vallinkbut"); 
        var oLinkButton3 = new YAHOO.widget.Button("reflinkbut"); 
        var oLinkButton4 = new YAHOO.widget.Button("sublinkbut"); 
        var oLinkButton5 = new YAHOO.widget.Button("numlinkbut"); 
        var oLinkButton6 = new YAHOO.widget.Button("cuplinkbut"); 
        //var olinkButton7 = new YAHOO.widget.Button("outlinkbut");//
        var oLinkButton8 = new YAHOO.widget.Button("inplinkbut"); 
        var oSubmitButton1 = new YAHOO.widget.Button("updateButton1",{value:"updateButton1value"}); 
</script>
<!-- end of button javascript -->

<!-- YUI treeview stuff for body -->
<script type="text/javascript">

//create our own namespace object
YAHOO.namespace("protoq.tree");
	                 
//define the initTree function
YAHOO.protoq.tree.initTree = function() {

    //create a TreeView object
    var tree = new YAHOO.widget.TreeView("treeDiv");

    //Fix for non-activation of href link on single-clicking node label (YUI bug?):
    //Subscribe to the "dblClickEvent" and do nothing.
    tree.subscribe("dblClickEvent", function(node) {
    }); 

	// Draw the tree
    tree.draw();
  
};
 
 //Add an onDOMReady handler to build the tree when the document is ready
YAHOO.util.Event.onDOMReady(YAHOO.protoq.tree.initTree);
 
</script>
<!-- End of YUI treeview stuff for body -->

{% endblock%}