
{% extends "base.html" %}
{% block content %} 

<div class="boxer"><h1> Model Component {{c.abbrev }} </h1></div>

<table class="navmain">
   <tr>
      <td valign="top" width="200px">
        <div class="boxer">
            <p class="red"> All buttons and links in the tabs and this column navigate away from this page. Save your work first!</p></div>
            <div class="boxer"><h4> Available Models </h4><div id="treeDiv"> {{navtree|safe}}</div>
            <h4>Component {{c.abbrev}}</h4>
            <p class="guidance"> Please add details of any other relevant
            subcomponents of this component <p>
            <p><a id="sublinkbut" href="{{urls.subcomp}}"> Add Subcomponent</a></p>
        </div>
        <div class="boxer"> 
        <p> The button(s) in this box navigate to pages which further describe this <b>component</b>.</p>
             {% if isRealm %}<p><a id="inplinkbut" href="{{urls.inputs}}">Default Runtime Inputs</a></p>{% endif %}
            <p><a id="reflinkbut" href="{{urls.refs}}"> References</a></p>
           
            <!--<p><a id="numlinkbut" href="{{urls.numerics}}"> Modify numerics </a></p>-->
        </div>
        <div class="boxer">
          <p> The buttons in this box navigate to pages for this <b>model</b>.</p>
          <p><a id="cuplinkbut" href="{{urls.coupling}}"> Coupling</a></p> 
          <!--<p><a id="outlinkbut" href="{{urls.outputs}}"> Outputs</a></p>-->
          <p><a id="viewlinkbut" href="{{urls.view}}">View</a></p>
          <p><a id="vallinkbut" href="{{urls.validate}}">Validate</a></p>
        </div>
      </td>
      <td valign="top" width="900px">
      
    <div class="boxer2">
    <form action="{{urls.form}}" method='post'>
        <div class="boxer">    
            {{cform.management_form}}
            <!--<h4> General Characteristics </h4>-->
            <table>
            <tr><td>Short Name:&nbsp;{{cform.abbrev.errors}}</td><td>{{cform.abbrev}}&nbsp;(type:&nbsp;{{cform.scienceType}},Implemented:{{cform.implemented}})</td></tr>
                <tr><td>Long Name:&nbsp;{{cform.title.errors}}</td><td>{{cform.title}}</td></tr> 
                <tr><td>Contact Email:&nbsp;{{cform.email.errors}}</td><td>{{cform.email}}</td></tr>
                <tr><td>Contact Name:&nbsp;{{cform.contact.errors}}</td><td>{{cform.contact}}</td></tr>
                
            </table>
        </div>
        <div class="boxer">
            <h4> Attributes </h4>
            <table>
            {% if pform.rows %}
            <tr width="100%"><th>Name</th><th>Value</th><th>Choose</th><th>Options</th></tr>
            {% for r in pform.rows %}
            {{r.html|safe}}
            {% endfor %}
            {% else %}
            <tr><td> Name </td><td>Value</td></tr>
            {% endif %}
            <tr><td colspan="4"> You can record additional attributes of the {{c.scienceType}} here:</td></tr>
            {{pform.new|safe }}
            </table>
            <p class="guidance"> (An additional attribute can be entered each time the form is saved.)</p>
            <p class="cmip5q">??  Not sure what to do about deletions. Do we want to allow them??</p>
                
        </div>
    
        <div class="boxer">
            <h4> History </h4>
            <center>
            <p> Year Released:{{cform.yearReleased.errors}}{{cform.yearReleased}}. Previous Version (name):
            {{cform.otherVersion.errors}}{{cform.otherVersion}} </p>
            <p class="guidance">Please tell us how this component has
            been improved from that previous version. </p>
            <p>{{cform.geneology}}</p>
            </center>
            <h4> Additional Information</h4>
            <center>
            <p class="guidance">Pleaes provide additional information about this component as necessary.</p>
            <p>{{cform.description}}</p> 
            </center> 
        </div>
    <center><input id="updateButton1" type="submit" value="Save"/></center>
    </form>
    </div>
    
    <div class="boxer">
        {% if inps|length %}
        <h4> Inputs required by this component are: </h4>
        <table>
        <tr><th> Short Name </th><th> Description </th></tr>
        {% for i in inps %}
        <tr><td>{{i.abbrev}}</td><td>{{i.description}}</td><tr>
        {% endfor %} 
        </table>
        {% if isRealm %}
        <p class="guidance"> Update this list using the "Modify Inputs" button </p>
        {% endif %}
        {% else %}
        {% if isRealm %}
        <p class="red"> Please identify key inputs to this component using the "Modify Inputs" button </p>
        {% endif %}
        {% endif %}
    </div>
    
    
    <div class="boxer">
        <h4> References (associated with this component) </h4>
        <p class="guidance"> Update this list using the modify reference button</p>
        <table width="100%" class="backgrey">
            {% for r in refs%}
            <tr><td width="33%"><a href="{{r.link}}">{{r.name}}</a></td><td>{{r.citation}}</td></tr>
            {% endfor %}
        </table>
    </div>
    {% if isModel %}
    <div class="boxer">
    <h4> Couplings </h4>
    <table>
    {% for bc in cset %}
    <tr class="{%cycle  'row2' 'row1'%}"><td>Boundary Condition:&nbsp;</td><td>{{bc.name}} uses {{bc.nic}} internal link(s) and {{bc.nec}} file link(s) by default.</tr>
    {% endfor %}
    </table>
    </div>
    {% endif %}
</td></tr></table>

<!-- button specific javascript follows -->
<script  type="text/javascript"> 
        var oLinkButton1 = new YAHOO.widget.Button("viewlinkbut"); 
        var oLinkButton2 = new YAHOO.widget.Button("vallinkbut"); 
        var oLinkButton3 = new YAHOO.widget.Button("reflinkbut"); 
        var oLinkButton4 = new YAHOO.widget.Button("sublinkbut"); 
        var oLinkButton5 = new YAHOO.widget.Button("numlinkbut"); 
        var oLinkButton6 = new YAHOO.widget.Button("cuplinkbut"); 
        //var olinkButton7 = new YAHOO.widget.Button("outlinkbut");//
        var oLinkButton8 = new YAHOO.widget.Button("inplinkbut"); 
        var oSubmitButton1 = new YAHOO.widget.Button("updateButton1",{value:"updateButton1value"}); 
</script>
<!-- end of button javascript -->

<!-- YUI treeview stuff for body -->
<script type="text/javascript">

//create our own namespace object
YAHOO.namespace("protoq.tree");
	                 
//define the initTree function
YAHOO.protoq.tree.initTree = function() {

    //create a TreeView object
    var tree = new YAHOO.widget.TreeView("treeDiv");

    //Fix for non-activation of href link on single-clicking node label (YUI bug?):
    //Subscribe to the "dblClickEvent" and do nothing.
    tree.subscribe("dblClickEvent", function(node) {
    }); 

	// Draw the tree
    tree.draw();
  
};
 
 //Add an onDOMReady handler to build the tree when the document is ready
YAHOO.util.Event.onDOMReady(YAHOO.protoq.tree.initTree);
 
</script>
<!-- End of YUI treeview stuff for body -->

{% endblock%}