{% extends "base.html" %}
{% block content %}
<div class="boxer">
<h1> Coupling to "{{c.abbrev}}" inputs  
  {% if s %} for simulation "{{s}}" {% endif %}
</h1>
</div>
<div class="boxer">
    <p> On this page we want you to describe how the major components in your model are coupled to each other and to "boundary conditions" read from files as the model runs. </p>
    <p> There is one "coupling" entry for each input requirement you declared in your model component description. It may be you need to <a href="{{urls.model}}">go back to the model description</a> to add input requirements, so you can describe them here. </p>
    <p> Within each of those "coupling" entries, there are four subsections: <ol><li>A section describing the coupler used, and the coupling frequency for that particular input.</li><li> A section describing how (potentially multiple) inputs were gathered from other components to feed into the one you are describing.</li><li> A section describing how inputs were gathered from (potentially multiple) files to feed into the one you are describing,and </li><li> A section describing how the inputs were manipulated to produce the final input. It is likely that you'll only fill out section (2) or section (3) for any one coupling. </li></ol>
    <p> We ask you this twice. Once during the description of the model {% if not s %} ie now {% endif %} and once during the description of a simulation {% if s %} ie now {% endif %}. When/if you first fill out section (1) and (4) in the model description, they are automatically copied over to the simulation descriptions, but you need to manually copy section 2 or 3 as necessary using the links below. </p>
    <p> The level of detail to input is up to you, but we will be asking you about how your simulation conformed to the experimental requirements. In many cases that will be asking you to link some response of yours to both a particular requirement and a particular input, so if you don't do it now, you might have to come back later :-) (and obviously the scientific interpretation of the simulation results is significantly enhanced if one knows how the various model components are coupled to each other and to external (file-based) boundary conditions). Note also that the simulation description will not validate as complete unless all inputs are coupled somehow to boundary conditions.</p>
</div>
    <div class="boxer">
    <h4> Couplings </h4>
    
    <div class="boxer2">
    <form action="{{urls.ok}}" method="POST">
    {% for f in Intform.forms %} {% include 'couplingform.html' %} {% endfor %}
    <center><input id="InternalBut" type="submit" value="Save"></center>
    </form>
    </div></div>
<div class="boxer">
    <p> <a id="returnBut" href="{{urls.return}}">Return to {{urls.returnName}} {% if simulation %} {{s}} {% else %} {{c}} {% endif %} </a>
</div>
<script type="text/javascript">
    var InternalBut = new YAHOO.widget.Button("InternalBut",
                                  {value:"InternalButvalue"});  
    var ReturnBut = new YAHOO.widget.Button("returnBut");
        </script>
{% endblock%} 