<div class="boxer">
<h4>{{f.title}}</h4>
<p>Coupling Type: {{f.cf.couplingType.errors}}{{f.cf.couplingType}}&nbsp;
Coupling Frequency: {{f.cf.couplingFreq.errors}}{{f.cf.couplingFreq}}&nbsp;
{{f.cf.couplingFreqUnits.errors}}{{f.cf.couplingFreqUnits}}</p>
<p> Enter zero or more inputs from other components: </p>
{{ f.ic.management_form}}
<table>
{% for ff in f.ic.forms %}
{% include 'closure.html' %}
{% endfor %}
</table>
<p> Enter zero or more inputs from files:</p>
{{f.ec.management_form}}
<table>
{% for ff in f.ec.forms %}
{% include 'closure.html' %}
{% endfor %}
</table>
<p> Describe how these input(s) were manipulated into {{c.abbrev}}</p>
{{f.cf.manipulation.errors}}{{f.cf.manipulation}}
</div>