<!-- buttons corresponding to those methods defined in cimHandler.py commonURLs-->
<p><a id="cimViewBut" href="{{urls.html}}">View</a></p>
<p><a id="cimValBut" href="{{urls.validate}}">Validate</a></p>
<p><a id="cimXMLBut" href="{{urls.xml}}">Export XML</a></p>
<p><a id="cimESGBut" href="{{urls.export}}">Send to CMIP5</a></p>
<script  type="text/javascript">  
    var cimLinkButton2 = new YAHOO.widget.Button("cimValBut"); 
    var cimLinkbutton3 = new YAHOO.widget.Button("cimXMLBut");
    var cimLinkbutton4 = new YAHOO.widget.Button("cimViewBut");
    var cimLinkbutton5 = new YAHOO.widget.Button("cimESGBut");
</script>