{% extends "base.html" %}
{% block content %}
<div class="boxer">
    <h1> Ensemble Characteristics for simulation: "{{s}}" </h1>
</div>
<div class="boxer">
    <div class="boxer2">
        <center>
        <form action={{urls.self}} method="POST" onsubmit="myProject.bypassConfirm()">
            <table>
                <tr><td width="20%">Ensemble Type:{{eform.etype.errors}}</td>
                    <td colspan="4">{{eform.etype}}&nbsp;</td></tr>
                <tr><td>General notes about the ensemble:{{eform.description.errors}}</td>
                    <td colspan="4">{{eform.description}}</td></tr>
                <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td colspan="5"> Now enter the details which explain how the ensemble members differ.
                    </td></tr>
                {% if eform.instance.etype %}
                    {{eformset.management_form}}
                    <tr><td colspan="5">{{eformset.non_form_errors}}</td></tr>
                    <tr><th></th><th> Code Mod </th><th>Input Mod</th>
                        <th>{% if eform.rset %} Requirement {% endif %}</th>
                        <th><a href="http://pcmdi-cmip.llnl.gov/cmip5/output_req.html" target="_blank">DRS</a> member name </th>
                    </tr>
                    {% for form in eformset.forms %}
                        <tr><td>Member {{form.instance.memberNumber}} uses </td>
                            <td>{{form.cmod.errors}}{{form.cmod}}&nbsp;and/or&nbsp;</td>
                            <td>{{form.imod.errors}}{{form.imod}} </td>
                            <td>{% if eform.rset %} conforms to {{form.requirement.errors}}{{form.requirement}} {% endif %}</td>
                            <td>and is known as {{form.drsMember.errors}} {{form.drsMember}}</td>
                        </tr>
                        {% for hid in form.hidden_fields %} {{hid}}{% endfor %}
                    {% endfor %}
                    {% for hid in form.hidden_fields %} {{hid}}{% endfor %}
                {% else %}
                    <tr><td colspan="5"> You need to save the form before you can assign details to
                    initial ensemble members. </td></tr>
                {% endif %}
            </table>
            <input id="subDatBut" type="submit" value="Save Description">
        </form>
        </center>
    </div>
</div>
<div><center>
    <a id="simbut" href="{{urls.sim}}"> Return to {{s}}</a>
    <a id="codebut" href="{{urls.mods}}">Manage Code Modifications</a>
    <a id="icbut" href="{{urls.ics}}">Manage Input Modifications</a>
</center></div>

<script type="text/javascript">
    var subDatBut = new YAHOO.widget.Button("varSubBut",
                    {value:"varSubButvalue"});
    var oLinkButton1 = new YAHOO.widget.Button("simbut");
    var oLinkButton2 = new YAHOO.widget.Button("codebut");
    var oLinkButton3 = new YAHOO.widget.Button("icbut");
</script>

{% endblock%}