{% extends "base.html" %}
{% block content %}
<div class="boxer">
<h1> Inputs for component: "{{c.abbrev}}"</h1>
<p> This page is for entering requirements for spatially varying "initial conditions" and spatio-temporally or temporally varying "boundary conditions".</p>
{% if c.isRealm %} <p>Note that these should include all inputs from components described
beneath this one </p> {% endif %}
<p> (Each time you add a new input, it will be saved, and a new entry form will appear for subsequent inputs.) </p>
</div>

<div class="boxer">
    <div class="boxer2">
        <form action="{{urls.ok}}" method="POST">
            {{ form.management_form }}
            {% for f in form.forms %}
            {% if forloop.last %} <p> Add a new input: </p> {% endif %}
            <div class="boxer">
                <table>
                    <tr class="{% cycle 'row1' 'row2'%}">
                        <td>Name: {{f.abbrev.errors}} {{f.abbrev}} </td>
                        <td>BoundaryCondition? {{f.bc.errors}} {{f.bc}} </td>
                        <td>{% if not forloop.last %} (delete: {{f.DELETE.errors}}{{f.DELETE}}){% endif %}</td>
                    </tr>
                    <tr class="{% cycle 'row1' 'row2'%}">
                    <td colspan="3">Description:{{f.description.errors}}{{f.description}}</td>
                    </tr>
                    {% for hid in f.hidden_fields %} {{hid}} {% endfor %}       
                </table> 
            </div> 
            {% endfor %}
            <!--{ { form.as_table } }-->
        <center><input id="InternalBut" type="submit" value="Save"></center>
        </form>
    </div>
<p><a href="{{urls.self}}"> Return to {{c.abbrev}}</a></p>
</div>

{% endblock%} 