<!-- This template works with the NewPropertyForm from utilities.py -->
{% for pg in pform.pgset %}
<div class="boxer">
{% if pg.name %} <h4> {{pg.name}}</h4> {% endif %}
{% for cg in pg.cgset %} 
    <table>
    <td>{{cg.constraint}}</td><td>
    <table>
    {% ifnotequal cg.rows|length 0 %} 
    <tr><th></th><th></th><th>Value</th></tr>
    {% endifnotequal %}
        {% for r in cg.rows %}
            <tr class="{% cycle 'row1' 'row2'%}">
            <td>
                <b id="tt{{r.id}}">{{r.name}}</b>:&nbsp;
                {% ifequal r.ptype 'User' %}<br/>
                (&nbsp;Delete <input type="checkbox" name="{{pform.prefix}}-del-{{r.id}}" id="delid_{{r.id}}"/>&nbsp;) 
                    {%endifequal %}
            </td>
            <td>  
                {% ifequal r.ptype 'User' %}
                Enter freetext or numeric value:&nbsp;
                {% endifequal %}
                {% ifequal r.ptype 'keyboard' %}
                        {% if r.units %}
                        Enter {% if r.numeric %}numeric{% endif %} value in <em>{{r.units}}</em>:&nbsp;
                        {% else %}
                        Enter {% if r.numeric %}numeric{% else%}string{%endif%} value::&nbsp;
                        {% endif %}
                {% endifequal %}   
                {% ifnotequal r.form None %}
                        {% ifequal r.ptype 'OR' %} Choose one or more of: {% endifequal %}
                        {% ifequal r.ptype 'XOR' %} Choose one of: {% endifequal %}
                        <select name="opt_{{r.id}}" size="1" onchange="document.getElementById('id_{{r.id}}').value {{r.form.op}} this.value + '|';">
                                {% for v in r.form.values %} <option value="{{v}}">{{v}}</option> {% endfor %}
                        </select>
                {% endifnotequal %}
            </td>
            <td width="50%">
                    <input name="{{pform.prefix}}-{{r.id}}" id="id_{{r.id}}" size="50" value="{{r.value}}">
            </td>
            </tr>
           
        {% endfor %}
    </table>
    <script type="text/javascript">
        YAHOO.namespace("e{{pg.id}}{{cg.id}}.container");
	{% for r in cg.rows %}
            YAHOO.e{{pg.id}}{{cg.id}}.container.ytt{{r.id}} = new YAHOO.widget.Tooltip("ytt{{r.id}}", { context:"tt{{r.id}}", text:"{{r.name}}:&nbsp;{{r.definition}}" });
        {% endfor %}
    </script>
    </td></table>
    {% if forloop.last %}
    <p>You can enter {% if cg.rows|length %} additional {% endif %} component attributes or parameters here if you wish (to enter more than one, you need to save them one at a time - using the button below - to get new blank entry forms).</p>
    <table>
    <tr><th> Name </th><th> Value </th></tr>
    <tr>
        <td><input name="{{pform.prefix}}-{{cg.id}}-newparam" id="{{pform.prefix}}-newparam" size="20"></td>
        <td><input name="{{pform.prefix}}-{{cg.id}}-newparamval" id="{{pform.prefix}}-newparamval" size="40"></td>
    </tr>
    </table>
    {% endif %}
{% endfor %}
</div>
{% endfor %}