<table>
<tr><td>Name:{{form.name.errors}}</td><td>{{form.name}}</td></tr>
<tr><td>Abbreviation:{{form.abbrev.errors}}</td><td>{{form.abbrev}}</td></tr>
<tr><td>Email:{{form.email.errors}}</td><td>{{form.email}}</td></tr>
<tr><td>Address:{{form.address.errors}}</td><td>{{form.address}}</td></tr>
</table>
<center>
    <input id="subDatBut" type="submit" value="Save">
    <script type="text/javascript">
    var subDatBut = new YAHOO.widget.Button("subDatBut",
                  {value:"subDatButvalue"});
    </script>
</center>