{% extends 'twopanel.html' %}
{% block titlerow %}
 {% if p %}
        <h1> Edit platform {{p}} for {{p.centre}} (validation status {{p.status}})</h1>
    {% else %}
        <h1> Create new platform for {{c}}</h1>
    {% endif %}
{% endblock %}
{% block leftcolumn %}
<div class="boxer">
    <p> empty </p>
</div>
{% endblock %}
{% block mainpanel %}
    <div class="boxer2">
    <form action='{{url}}' method='post'>
        <div class="boxer">
        <table>
        <tr>
            <td>Name:{{pform.abbrev.errors}}</td><td>{{pform.abbrev}}</td>
        </tr>
        <tr>
            <td>Contact:&nbsp;{{pform.contact.errors}}</td><td>{{pform.contact}}</td>
            <td>Funder:&nbsp;{{pform.funder.errors}}</td><td>{{pform.funder}}</td></tr>
        </tr>
        </table>
        </div>
        <div class="boxer">
        <table>
        <tr> 
            <td>Vendor:{{pform.vendor.errors}}</td><td>{{pform.vendor}}</td>
            <td>Compiler:{{pform.compiler.errors}}</td><td>{{pform.compiler}}</td>
            <td>Compiler Version:{{pform.compilerVersion.errors}}</td><td>{{pform.compilerVersion}}</td>
        </tr><tr>
            <td>Operating System:{{pform.operatingSystem.errors}}</td><td>{{pform.operatingSystem}}</td>
            <td colspan="2">Maximum Processors:{{pform.maxProcessors.errors}}&nbsp;{{pform.maxProcessors}}</td>
            <td colspan="2">Cores Per Processor:{{pform.coresPerProcessor.errors}}&nbsp;{{pform.coresPerProcessor}}</td>
        </tr><tr>
            <td>Hardware:{{pform.hardware.errors}}</td><td>{{pform.hardware}}</td>
            <td>Processor Type: {{pform.processor.errors}}</td><td>{{pform.processor}}</td>
            <td>Interconnect Type: {{pform.interconnect.errors}}</td><td>{{pform.interconnect}}</td>
        </tr><tr>
        <td>Any extra information:{{pform.description.errors}}</td><td colspan="6">{{pform.description}}</td>
        </tr>.     
        </table>
        </div>
        <center> <input type="submit" value="Save"/></center>
    </form>
    </div>
{% endblock %}