{% extends "twopanel.html" %}
{% block titlerow %}
    <table width="100%" class="{{s.qstatus}}">
    <tr>
    <td>
    {% ifequal label 'Update' %} 
    <h1> Update simulation {{s}} in experiment {{exp}}</h1>
    {% else %}
    <h1> Create a simulation in experiment {{exp}}</h1>
    {% endifequal %}
    </td>
    <td> {% if s.isComplete %}
     Complete and Submitted
     {% else %} Validation Status: {{s.status}}
     {% endif %} 
    </td>
    </tr>
    </table>
    <p>({{exp.rationale}})</p>
{% endblock %}

{% block leftcolumn %}
    <div class="boxer">
        <p class="red"> All buttons and links in the tabs and this column navigate away from this page. Save your work first!</p>
    </div>
    <div class="boxer">
        {% ifnotequal label "Update" %}
            <p>After you have saved the initial simulation description, a set of buttons to 
            add further simulation characteristics will appear here.</p>
        {% else %}
            <h4> Dependencies</h4>
            <!--<p><a id="iclinkbut" href="{{urls.ic}}">Initial Conditions</a></p>-->
            <p><a id="bclinkbut" href="{{urls.bc}}">Resolve Inputs</a></p>
            <h4> Experiment Criteria</h4>
            <p><a id="modlinkbut" href="{{urls.mod}}">Model Mods</a></p>
            <!--<p><a id="icslinkbut" href="{{urls.ics}}">Input Mods</a></p>-->
            <p><a id="conlinkbut" href="{{urls.con}}">Conformance</a></p>
            <h4> Ensemble Characteristics </h4>
            {% ifequal s.ensembleMembers 1 %}
                    Not an ensemble 
            {% else %}
                <p><a id="enslinkbut" href="{{urls.ens}}"> Describe Ensemble</a></p>
            {% endifequal %}
            <h4> Use the simulation to </h4>
            {% include 'docbuttons.html' %}
        {% endifnotequal %}
    </div>
{% endblock %}

{% block mainpanel %}
    <div class="boxer2">
        <form action="{{urls.url}}" method="post">
            <div class="boxer">
            <h4> General Characteristics of the Simulation </h4>
            <p class="guidance"> In this box you fill out the general characteristics of the simulation (or ensemble). </p>
            <table>
            <tr><td>Short Name:{{simform.abbrev.errors}} </td><td colspan="3">{{simform.abbrev}}</td></tr>
            <tr><td>Long Name:{{simform.title.errors}} </td><td colspan="3">{{simform.title}}</td></tr>
        
            <tr><td> Simulation used:  </td><td colspan="3">Model</b>&nbsp;{{simform.numericalModel.errors}}{{simform.numericalModel}} running
            on <b> Platform </b> {{simform.platform.errors}}{{simform.platform}}.</td></tr> 
            <tr><td>Ensemble Members: </td><td colspan="3">{{simform.ensembleMembers.errors}}{{simform.ensembleMembers}}
            </td></tr>
            <tr><td>Description (notes){{simform.description.errors}}</td><td colspan="3">{{simform.description}}</td></tr> 
            <tr><td colspan="4">Responsible Parties (use the parties tab to add more choices here): </td></tr>
            <tr><td></td><td>Contact:&nbsp;{{simform.contact.errors}}{{simform.contact}}</td>
                        <td>Lead Author:&nbsp;{{simform.author.errors}}{{simform.author}}</td>
                        <td>Funder:&nbsp;{{simform.funder.errors}}{{simform.funder}}</td></tr>
            </table>
            </div>
            <div class="boxer">
            <h4> Related Simulation </h4>
            <p> If this simulation has a related control simulation or extends another, please identify it here. {% if ensemble %} (Such relationships may extend between ensembles too.){% endif %} </p>
            <p>Simulation {{s}} {{rform.value}}{{rform.value.errors}} simulation {{rform.sto}}{{rform.sto.errors}}</p>
            <table><tr><td>Details (if necessary):</td><td> {{rform.description.errors}}{{rform.description}}</td></tr></table>
            </div>
            <div class="boxer">
            <h4> Authorship </h4>
            <center>
            <p>Please enter the list of authors you wish to appear in a DOI for this simulation
            {{simform.authorList.errors}}:</p><p>{{simform.authorList}}</p>
            </center>
            </div>
            <center><input id="simFormButton" type="submit" value="{{label}}"/>
            </center>
        </form>
    </div> <!-- boxser2 -->
        
    <script type="text/javascript">
        var oLinkButton1 = new YAHOO.widget.Button("iclinkbut"); 
        var oLinkButton2 = new YAHOO.widget.Button("bclinkbut"); 
        var oLinkButton3 = new YAHOO.widget.Button("enslinkbut"); 
        var oLinkButton4 = new YAHOO.widget.Button("conlinkbut"); 
        var oLinkButton7 = new YAHOO.widget.Button("modlinkbut"); 
        //var oLinkButton8 = new YAHOO.widget.Button("icslinkbut"); 
        var oSimFormButton = new YAHOO.widget.Button("simFormButton",{value:"simFormButtonvalue"}); 
    </script>
    
    {% ifequal label "Update" %}
    {% if s.modelMod.all|length %}
    <div class="boxer">
        <h4> Modifications to the base model</h4>
        <p> These are parameter and code modifications with respect to the base model. 
        {% if ensemble %} They apply to all ensemble members {% endif %}</p>
        <table>
        <tr><th> Name </th><th>Description</th></tr>
        {% for m in s.modelMod.all %} 
        <tr class="{%cycle 'row1' 'row2'%}"><td>{{m}}</td><td>{{m.description}}</td></tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endifequal %}
    
    
    {% if ensemble %}<div class="boxer">
        <h4> Ensemble Characteristics </h4>
        <p>Description:{{ensemble.set.description}}</p>
        <table>
        {% for m in ensemble.members %}
        <tr class="{%cycle  'row2' 'row1'%}"><td>Member {{m.memberNumber}} has modification: {{m.mod}}</td></tr>
        {% endfor %}
        </table>
        <p> (You can modify thse using the "Ensemble Characteristics" button on the left hand menu.)
    </div>{% endif %}
            
    <div class="boxer">
        <h4> Required Inputs and Couplings </h4>
        {% ifnotequal label "Update" %}
            <p class="red"> This section cannot be filled in until the
            general characteristics have been saved </p>
        {% else %}
            <table>
            <table>
            {% for bc in cset %}
            <tr class="{%cycle  'row2' 'row1'%}"><td>{{bc.targetInput.ctype}}</td><td>{{bc}} uses {{bc.internalclosure_set.all|length}} internal link(s) and {{bc.externalclosure_set.all|length}} file link(s). {% if not bc.valid %} <span class="red"> Incomplete </span> {% endif %} </td>
            </tr>
            {% endfor %}
            </table>
                <p>(You can modify these using the "Input Coupling" button on the left hand menu.)</p>
        {% endifnotequal %}
    </div>
    
    <div class="boxer backgrey">
        <h4> Conformance: How this simulation conforms to the numerical requirements of experiment {{exp}}</h4>
        {% ifnotequal label "Update" %}
        <p class="red"> This section cannot be filled in until the general characteristics have been saved </p>
        {% else %}
        <p>(You can modify these using the "conformance" button on the left hand menu.)</p>
        <table>
        {% for con in coset %}
        <tr class="{% cycle 'row1' 'row2'%}"><td>{{con.requirement}}</td><td>{% if con.ctype %} {% include 'pretty_conformance.html'%} {% else %} <span class="red">Not conformant?</span>{% endif %}</tr>
        {% endfor %}
        </table>
        {% endifnotequal %}
    </div>
        
{% endblock %}
