{% extends "base.html" %}
{% block content %}
<div class="boxer">
    <h2> {{label}} a simulation in {{exp.docID}}</h2>
    <p>({{exp.rationale}} {{exp.why}})</p>
</div>

<table class="navmain">
    <tr>
        <td valign="top" width="200px">
        <div class="boxer">
            <p class="red"> All buttons and links in the tabs and this column navigate away from this page. Save your work first!</p>
        </div>
        <div class="boxer">
            {% ifnotequal label "Update" %}
            <p>After you have saved the initial simulation description, a set of buttons to add further
            simulation characteristics will appear here.</p>
            {% else %}
            <h4> File Dependencies </h4>
            <p><a id="iclinkbut" href="{{urls.ic}}">Initial Conditions</a></p>
            Boundary Conditions
            <h4> Experiment Criteria</h4>
            Conformance
            <h4> Ensemble Characteristics </h4>
             {% if ensemble %}
             Physical or Initial
            {% else %}
            Not an ensemble
            {% endif %}
            {% endifnotequal %}
        </div>
        </td>
        <td valign="top" width="900px">
            <div class="boxer">
                <h4> General Characteristics of the Simulation </h4>
                <p class="guidance"> In this box you fill out the general characteristics of the simulation. Note that you need to press the Add or Update button to update this part separately from the conformance section below.</p>
                <form action="{{urls.url}}" method="post">
                {{simform.management_form}}
                <table>
                <tr><td>Short Name:{{simform.abbrev.errors}} </td><td>{{simform.abbrev}}</td></tr>
                <tr><td>Long Name:{{simform.title.errors}} </td><td>{{simform.title}}</td></tr>
                <tr><td>Contact Email:{{simform.email.errors}} </td><td>{{simform.email}}</td></tr>
                <tr><td>Contact Name:{{simform.contact.errors}} </td><td>{{simform.contact}}</td></tr>
                <tr><td> Simulation used:  </td><td>Model</b>&nbsp;{{simform.numericalModel.errors}}{{simform.numericalModel}} running
                on <b> Platform </b> {{simform.platform.errors}}{{simform.platform}}.</td></tr> 
                <tr><td>Ensemble Members: </td><td>{{simform.ensembleMembers.errors}}{{simform.ensembleMembers}}</td></tr>
                <tr><td>Description (notes){{simform.description.errors}}</td><td>{{simform.description}}</td></tr>
                <tr><td colspan="2">
                <center><input id="simFormButton" type="submit" value="{{label}}"/>
               
                </center></td></tr>
                </table>
                </form>
            </div> <!-- right boxer -->
        </td>
    </tr>
</table>
<script type="text/javascript">
    var oLinkButton1 = new YAHOO.widget.Button("iclinkbut"); 
    var oSimFormButton = new YAHOO.widget.Button("simFormButton",{value:"simFormButtonvalue"}); 
</script>
<div class="boxer">

</div>
<div class="boxer backgrey">
<h4> Conformance: How this simulation conformed to the Numerical Requirements </h4>
{% ifnotequal label "Update" %}
<p class="red"> This section cannot be filled in until the general characteristics have been submitted </p>
{% endifnotequal %}
<p class="guidance"> Each experiment within CMIP5 has a set of defined requirements, which might be to use specific boundary conditions, or
to make changes to some code to make some specific thing happen. Some requirements might be met by either approach. In this
section we ask you to indicate <em> for each requirement </em>  whether the requirement was met by one of <ol><li> the standard configuration of the model,</li> <li> whether an input data file was used, or</li><li>a specific code modification was carried out.</li></ol></p>
<ul>
<li> <p>Where you indicate the use of a file, you will need to choose a file from a dropdown list of those files which you have <em> already </em> defined. If necessary, use the Files tab button to manage your files, and return here via the Simulations Tab.</li>
<li> <p>Where you indicate a code modification, please indicate which component was modified, using the drop down list provided. </p>
<p class="cmip5q"> At the moment the components offered include all those from your centre,
not just those from within the specific model ... until we fix that, watch out!</p>
{% ifequal label "Update" %}
</li>
</ul>
<p class="cmip5q"> We can make the defaults for the file/code to be files for i.c and b.c ... </p>
<p class="cmip5q"> ?? Do we want to ask for references with conformances ?? </p>
<table width="100%">
{%for r in reqs %}
    <!-- FIXME: make this a function -->
    <!-- Useful for debugging to firefox firebug:
         console.log("text");
         console.dir(o{{r.id}});
         -->
    <script type="text/javascript">
        var callback{{r.id}} = {
            success: function(o{{r.id}})
                {
                document.getElementById('replaceMe{{r.id}}').innerHTML = o{{r.id}}.responseText;
                }
            };
        function conRequest{{r.id}}() {
        YAHOO.log("Initiating AJAX conformance {{r.id}}","info","example");
        YAHOO.util.Connect.setForm('form{{r.id}}');
        var connectionObj{{r.id}} = YAHOO.util.Connect.asyncRequest('POST','{{r.con.url}}',callback{{r.id}}); }
    </script> 
    <tr>
    <td width="30%"><table>
            <tr><td><b>{{r.name}}</b></td></tr>
            <tr><td>{{r.description}}</td></tr>
    </table></td>
    <td id="conform{{r.id}}">
        <form action="{{r.con.url}}" method="POST" id="form{{r.id}}">
        {{r.con.form.management}}
        <table id="replaceMe{{r.id}}">
            {% include "conformance.html" %}
        </table>
        </form>
    </td>
    </tr>
{% endfor %}
</table>
{% endifequal %}

</div>
        
{% endblock %}