{% extends "base.html" %}
{% block content %}
<div class="boxer">
<div class="boxer">
<h1> Version History </h1>
</div>
<div class="boxer">
<h4> (Current development) </h4>
<ul>
<li> Added questionnaire development history with a link to this information from the help page</li>
<li> Modified the test feeds so that individual entries can be harvested</li>
<li> Added a link to the official cmip5 model names to be used on the component pages</li>
</ul>
<br/>
<h4> Vn 1.0 (released 10th Oct 2010) </h4>
</div>
</div>
{% endblock %}