{% extends "base.html" %}
{% block content %}
<div class="boxer">
<div class="boxer">
<h1> Version History </h1>
</div>
<div class="boxer">
<br/>
<h4> Vn 1.07 (released 12th May 2011)</h4>
<ul>
<li> Changes made to atom feed html links</li>
<li> Bug fixes for non-saving of key property long names</li>
</ul>


<h4> Vn 1.06 (released 19th April 2011)</h4>
<ul>
<li> Asterixs added to denote required fields</li>
<li> Supplementary text bundled into information tooltips</li>
<li> Submit to CMIP5 button switched on</li>
</ul>

<h4> Vn 1.05 (released 9th Mar 2011)</h4>
<ul>
<li> Migration to new cmip5q experiments</li>
<li> Bug fix for unique simulation names</li>
<li> Simulation duration is now an integer entry field</li>
<li> Simulation contact has been made a mandatory field </li>
</ul>

<br/>
<h4> Vn 1.04 (released 17th Feb 2011)</h4>
<ul>
<li> Tidied up both the model and simulation couplings page</li>
<li> Fixed bug in adding new simulation when simulation list is empty</li>
<li> Added the ability to tick a particular binding is not applicable at the current simulation</li>
<li> Changes to grids and component pages so that short/long names are not editable for 'parameter groups' pages</li>
</ul>

<br/>
<h4> Vn 1.03 (released 10th Feb 2011)</h4>
<ul>
<li> Bugs in validation of components fixed</li>
<li> Removal of 'status/% complete' from summary page </li>
<li> Allowing Platforms and Grids to also hold the 'isDeleted' construct</li>
</ul>

<br/>
<h4> Vn 1.02 (released 7th Feb 2011)</h4>
<ul>
<li> Removed form fields for ensemble member 1 on ensembles page (as this is essentially the base simulation)</li>
<li> DRS/rip ensemble value being asked for in the simulation page </li>
<li> UI change - front page 're-ordered' to make centre choices more intuitive</li>
<li> Simulation names must now be unique</li>
<li> Example centre tidied up </li>
<li> Functionality added to allow help text on exh type of page through 'drop-down' panel</li>
</ul>

<br/>

<h4> Vn 1.01 (released 13th Jan 2011)</h4>
<ul>
<li> Added questionnaire development history with a link to this information from the help page</li>
<li> Modified the test feeds so that individual entries can be harvested</li>
<li> Added a link to the official cmip5 model names to be used on the component pages</li>
<li> Added NASA-GISS to the list of centres</li>
<li> Edited Options (Controlled Vocabulary) on Large Scale Precipitation </li>
<li> Extended number of characters that can be entered for text strings</li>
</ul>

<br/>
<h4> Vn 1.0 (released 10th Oct 2010) </h4>
</div>
</div>
{% endblock %}