{% extends "base.html" %}
{% block content %}

<div class="inner">
<h1> {{centre.title}} </h1>

<p>Each centre has associated with it a number of simulations, run with a model, and conforming to a CMIP5 experiment. </p>

<p> To add a simulation which uses a <b> new </b> model, you need to add the model first. Note that if the new model is a variant of an existing
model, you can copy an old model and edit that!</p>

<p> To add an experiment which uses an old model, you can simply go straight
to the add simulation option <p>


<div class="twocol">
    <div class="tableft">
    
        <h2> Experiments </h2>
        <p>This is the collection of CMIP5 experiments. For each experiment, you can see listed the simulations from this centre conforming to the model.</p>
        <div class="guidance"><p> (NB: The experiments, and their descriptions will be entered via the admin interface,
            and there will be a lot of them !)<p></div>
        <table width="100%">
            <tr><td>name</td><td colspan="2"> simulations </td></tr>
            {% for e in experiments %}
            <tr><td><a href="/cmip5/experiment/view/{{e.id}}/">{{e.abbrev}}</a></td><td>
            {% for s in e.values %}
            <a href="/cmip5/simulations/edit/{{s.id}}/">
            {{s.abbrev}}</a>&nbsp;
            {% endfor %}
            </td> <td> 
            <form action='/cmip5/simulations/add/{{centre.id}}/{{e.id}}/'>
            <input type="submit" value="Add New"/></form> </td></tr>
            {% endfor %}
        </table>
    </div>
        
    <div class="tabright">
        <h2> Models and Platforms</h2>
        <p> You need to make sure you have at least one model and platform defined before you can create a simulation </p>
        <div id="models">
            <div class="instanceList">
                <table width="100%">
                <thead>
                    <tr><th colspan="4"> Models associated with {{centre.abbrev}}</td></tr>
                    <tr><th> Model </th> <th width=15%> Status </th><th width="30%" colspan="2"></tr>
                    {% for m in models %}
                        </thead><tbody><tr>
                        <td>{{m.abbrev}}</td><td></td>
                        <td> <form action='/cmip5/components/edit/{{m.id}}/' method='get'>
                            <input type="submit" value="edit"/>
                            </form>
                        </td><td><form action='/cmip5/components/add/{{centre.id}}/{{m.id}}/' method='get'>
                            <input type="submit" value="CopyAsNew"/>
                            </form> 
                        </td></tr>
                    {% endfor %}
                    <tbody>
                </table>
                    <form action="/cmip5/components/add/{{centre.id}}">
                        <input type="submit" value="Add a new CMIP5 Model"/>
                    </form>
                <p class="guidance"> The status column provides an indicator of how much of the model description has
                been completed. CopyAsNew should be used to describe variants of already described models.</p>
                </form>
            </div>
        </div>
        <div id="platforms">
            <div class="instanceList">
                <table width="100%">
                <thead>
                <tr><th colspan="2"> Computing platforms associated with {{centre.abbrev}}</td></tr></thead><tbody>
                {% for m in platforms %}
                <tr><td>{{m.abbrev}}</td>
                <td><a href="/cmip5/platforms/edit/{{m.id}}">edit</a></td></tr>
                {% endfor %}
                </tbody></table>
                    <form action="/cmip5/platforms/add/{{centre.id}}/">
                        <input type="submit" value="Add a new Platform"/>
                    </form>
            </div> <!--instanceList -->
        </div> <!-- platform -->
    </div> <!-- tabright -->
    <br style="clear:both"/><!-- Hack to make div expand vertically -->
</div> <!-- twocol -->
</div>
{% endblock %}