
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <title>{% block title %}CMIP5 Model Metadata Questionaire{% endblock %}</title>
		<!-- YUI treeview stuff for head -->
		<script type="text/javascript" src="/css/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="/css/yui/build/connection/connection-min.js"></script>
        <script type="text/javascript" src="/css/yui/build/treeview/treeview-min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/yui/build/treeview/assets/skins/sam/treeview.css">
		<!-- end of YUI treeview stuff for head -->
    </head>
    <body class="yui-skin-sam">
        <div id="page">
            <!--<b class="hb0"/><b class="hb1"/><b class="hb2"/><b class="hb3"/><b class="hb4"/>-->
            <div id="header">
                <table id="hdricon">
                <tr>
                <td width="150px" align="left"><!--<img height="80" src="/css/icons/eu_fw7_logo.jpg"/>--></td>
                <td width="800px" align="center">
                    <table><tr><td align="center"><img height="60" src="/css/icons/metafor_logo.png"/></td></tr>
                    <tr><td align="center"><span id="subtitle"> "finding and understanding simulations of past, present and future climate"</span></td></tr></table></td>
                <td width="150px" align="right"><!--<img height="80" src="/css/icons/curator.gif"/>--></td>
                </tr>
                </table>
                
            </div>
            <div id="banner">
                <center> DRAFT CMIP5 Questionaire</center>
            </div>
            <div id="breadcrumb">
            </div>
            <div class="main">
               <div class="tabs">
               <ul>
                <li>Experiments</li>
                <li>Centre</li>
                <li>Model</li>
                <li>Simulations</li>
                <li>References</li>
                </ul>
               </div>
               {% block content %}
               {% endblock %}</p>	 
            </div>
            <div id="footer">
                <center>
                    <!--<table>
                        <tr><td> Service provided for the</td>
                            <td align="left" ><img src="/css/icons/badc_logo_h50px.jpg"/></td>
                            <td>and the </td>
                            <td align="right" ><img src="/css/icons/nceo_final_h50px.jpg"/></td>
                            <td> at the </td>
                            <td align="center" ><img src="/css/icons/RAL-STFC_h50px.jpg"/></td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                    </table>-->
                     <h2>Icon Heaven</h2> 
                </center>
            <!--<b class="hb4"/><b class="hb3"/><b class="hb2"/><b class="hb1"/><b class="hb0"/>-->
            </div>
        </div>

    </body>

</html>
