{% extends "base.html" %}
{% block content %} 

<div class="boxer"><h1> Model Component {{c.abbrev }} </h1></div>

<table class="navmain">
   <tr>
      <td valign="top" width="200px">
        <div id="treeDiv" class="boxer">{{navtree|safe}}</div>
        <div class="boxer"> 
        <p class="guidance"> Please add details of any other relevant
        subcomponents of this component <p>
        <p><a href="/cmip5/components/addsub/{{c.id}}/"> Add Subcomponent</a></p>
        </div>
        <div class="boxer"><p class="cmip5q"> Placeholder for link to Coupling Page </p> </div>
        <div class="boxer"><p><a href="/cmip5/centre/{{c.centre_id}}">Return to centre: {{c.centre}}</a></p></div>
      </td>
      <td valign="top" width="900px">
   
    <form action="{{url}}" method='post'>
    {{m}}
    <div class="boxer">    
        {{cform.management_form}}
        <!--<h4> General Characteristics </h4>-->
        <table>
            <tr><td>Title</td><td>{{cform.title}}</td></tr>
            <tr><td></td><td>(Abbrev: {{cform.abbrev}}, type:  {{cform.scienceType}})</td></tr>
            <tr><td>Contact&nbsp;</td><td>{{cform.contact}}</td></tr>
        </table>
    </div>
    <div class="boxer">
        <!--<h4> Component Details </h4>-->
        <!-- We don't know how many rows we have in each column, so using divs is easier -->
        <div>
            <div>
                <h4> Parameters </h4>
                <div class="guidance"><p> Not all subcomponents will have parameters associated with them </p></div>
                <table>
                <tr width="100%"><th>Name</th><th>Value</th><th>Choose</th><th>Options</th></tr>
                {% for r in pform.rows %}
                {{r.html|safe}}
                {% endfor %}
                <tr><td colspan="2"> Add a new param: </td><td colspan="2"></td></tr>
                {{pform.new|safe }}
                </table>
                <p class="cmip5q"> Not sure what to do about deletions. Do we want to allow them?</p>
            </div>
            <br style="clear:both"/><!-- Hack to make div expand vertically --> 
        </div> 
    </div>
    
    <div class="boxer">
    <h4> Additional Information </h4>
    <center>
    <p class="guidance">Please tell us how this component has
    been improved from previous generations of this model: </p>
    <p>{{cform.geneology}}</p>
    <p class="guidance">Any additional information about this component: </p>
    <p>{{cform.description}}</p> 
    <p><input type="submit" value="update parameters and characteristics"/></p>
    
    </center>
    </div>
        <div class="boxer">
        <h4> References </h4>
        <table width="100%" class="backgrey">
            {% for r in refs%}
            <tr><td width="33%"><a href="{{r.link}}">{{r.name}}</a></td><td>{{r.citation}}</td></tr>
            {% endfor %}
        </table>
        <center><a href="/cmip5/components/addrefs/{{c.id}}"> Modify references</a></center>
    </div>
    </form>
    
    <!--<div class="boxer">
        <center>
        <a href="/cmip5/centre/{{c.centre_id}}">Return to centre: {{c.centre}}</a>
        {% if c.TCparentID %} <a href="/cmip5/components/edit/{{c.TCparentID}}/">Return to component: {{c.TCparentAbbrev}}</a> 
        {% endif %}
        </center>
        <center>
        </center>
    </div>-->

</td></tr></table>

<!-- YUI treeview stuff for body -->
<script type="text/javascript">

//create our own namespace object
YAHOO.namespace("protoq.tree");
	                 
//define the initTree function
YAHOO.protoq.tree.initTree = function() {

    //create a TreeView object
    var tree = new YAHOO.widget.TreeView("treeDiv");

    //Fix for non-activation of href link on single-clicking node label (YUI bug?):
    //Subscribe to the "dblClickEvent" and do nothing.
    tree.subscribe("dblClickEvent", function(node) {
    }); 

	// Draw the tree
    tree.draw();
  
};
 
 //Add an onDOMReady handler to build the tree when the document is ready
YAHOO.util.Event.onDOMReady(YAHOO.protoq.tree.initTree);
 
</script>
<!-- End of YUI treeview stuff for body -->

{% endblock%}